body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/* Container fluid - Bootstrap parent of all website content */
#website{
    margin: 0;
    padding: 0;
    background-color: dimgrey;
    height: auto;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* === SECTION CSS FOR THE TV === */

/* TV container parent */
#televisionContainer{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* TV container */
#television{
    height: 95vh;
}

/* TV black border around the screen */
#televisionScreenBase{
    background-color: black;
    height: 80vh;
    width: 72vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* TV screen where the user will see the changes by using the controller */
#televisionScreen{
    margin-top: -2em;
    height: 70vh;
    width: 69vw;
    display: flex;
    flex-direction: column;
    position: relative;
    border: solid 2px white;
    z-index: 1;
}

/* TV screen section to show the channels */
#screenContent{
    width: 100%;
    height: 100%;
}

/* TV base section */
#televisionBase{
    height: 10vh;
    width: 72vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* TV base handler part (black column) */
#televisionHolder{
    background-color: black;
    height: 10vh;
    width: 5vw;
}

/* TV base horizontal support to all the TV */
#televisionSupportBase{
    background-color: black;
    height: 5vh;
    width: 30vw;
}

/* Info container to show data to user about the time or the actual channel */
#info{
    background-color: rgba(128, 128, 128, 0.618);
    height: 10vh;
    width: 69vw;
    visibility: hidden;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    z-index: 5;
    position: absolute;
    top: 5vh;
}

/* Box for the name channel on the info container */
#channelText{
    color:rgba(255, 255, 255, 0.618);
    font-size: 1.5em;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Box for the actual hour on the info container */
#actualTime{
    color:rgba(255, 255, 255, 0.618);
    font-size: 1.5em;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Box for the actual date on the info container */
#actualDate{
    color:rgba(255, 255, 255, 0.618);
    font-size: 1.5em;
    margin-right: 0.5em;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Container to other info in screen */
#screenOtherInfo{
    height: 50vh;
    width: 69vw;
    z-index: 5;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
}

/* Volume container to show data to user about the volume control */
#volumeContainer{
    height: 30vh;
    width: 20vw;
    visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

/* Number to show how much high is the volume */
#volumeNumber{
    margin-left: 2em; 
    font-size: 2.5em;
    height: 8vh;
    width: 6vw;
    color: rgba(255, 255, 255, 0.618);
}

/* Muted volume icon style */
#volumeNumber > i{
    height: 1.8em;
    width: 1.8em;
    color: white;
}

/* Volume bar background container */
#volumeBar{
    margin: 2em 1em 2em 1em;
    height: 30vh;
    width: 2vw;
    background: #999;
    border-radius: 1em;
    display: flex;
    align-items: flex-end;
}

/* Volume bar to go up or down related with the user interactions with the controller */
#barUpDown{
    height: 15vh;
    width: 2vw;
    background: #FFF;
    border-radius: 1em;
}

/* === SECTION CSS FOR THE REMOTE CONTROLLER === */

/* Remote controller parent */
#controllerContainer{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Remote controller */
#remoteController{
    height: 49vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Class for each element inside remote controller */
.controllerRow{
    background-color: black;
    display : flex;
    justify-content: center;
    align-items: center;
}

/* For the first 4 rows, there is a gap between the buttons to make 3 columns */
.gapBetweenCols{
   height: 2em;
   width: 2em;
   margin: 0.8em;
}

/* Spacing for the power button related with the switch on / off interaction controlled by the controller */
#powerButton{
    margin-top: 1.2em;
    margin-left: 1.8em;
}

/* Spacing for the home button related with the home interaction controlled by the controller */
#homeButton{
    margin-top: 1.2em;
    margin-right: 1.8em;
}

/* Spacing for arrow up button related with the volume controlled by the controller */
#arrowUpVolume{
    margin-top: 1.2em;
    margin-left: 1.2em;
}

/* Spacing for arrow down button related with the volume controlled by the controller */
#arrowDownVolume{
    margin-bottom: 1.2em;
    margin-left: 1.2em;
}

/* Spacing for arrow up channel button related with the channels controlled by thee controller */
#arrowUpChannel{
    margin-top: 1.2em;
    margin-right: 1.2em;
}

/* Spacing for arrow down channel related with the channel number controlled by the controller */
#arrowDownChannel{
    margin-bottom: 1.2em;
    margin-right: 1.2em;
}

/* Style for the power button on the remote controller */
#powerButton{
    background-color: red;
    border-radius: 50%;
    height: 1.8em;
    width: 1.8em;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.5s;
}

/* Style for the power button when you pass the mouse on them */
#powerButton:hover{
    background-color: rgb(241, 45, 45);
    transition: 0.5s;
}

/* Style for the home button on the remote controller */
#homeButton{
    background-color: grey;
    border-radius: 50%;
    height: 1.8em;
    width: 1.8em;
    cursor: pointer;
    transition: 0.5s;
}

#muteButton, #guideButton{
    background-color: grey;
    border-radius: 10%;
    margin: 0.9em;
    height: 1.8em;
    width: 1.8em;
    cursor: pointer;
    transition: 0.5s;
}

/* Style for the home button on the remote controller */
#homeButton:hover, #muteButton:hover, #guideButton:hover{
    background-color: rgb(110, 108, 108);
    transition: 0.5s;
}

/* Style for making an up arrow with CSS for volume and channel controllers on the remote controller*/
.arrowUp{
    width: 0; 
    height: 0; 
    border-left: 1.2em solid transparent;
    border-right: 1.2em solid transparent;
    border-bottom: 1.2em solid grey;
    cursor: pointer;
    transition: 0.5s;
}

/* Style for making a dwon arrow with CSS for volume and channel controllers on the remote controller*/
.arrowDown{
    width: 0; 
    height: 0; 
    border-left: 1.2em solid transparent;
    border-right: 1.2em solid transparent;
    border-top: 1.2em solid grey;
    cursor: pointer;
    transition: 0.5s;
}

/* Style for the down arrow buttons when you pass the mouse on them */
.arrowDown:hover{
    border-top: 1.25em solid rgb(110, 108, 108);
    transition: 0.5s;
}

/* Style for the up arrow buttons when you pass the mouse on them */
.arrowUp:hover{
    border-bottom: 1.25em solid rgb(110, 108, 108);
    transition: 0.5s;
}

/* Same features shared for the texts on the controller in relation with channel and volume */
#volumeTag, #channelTag{
    height: 2em;
    width: 3.6em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color:white;
}

/* Style for the buttons from 1 to 9 to change channel on the remote controller */
.channelButtons{
    margin: 0.8em;
    border-radius: 50%;
    height: 2em;
    width: 2em;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.5s;
}

/* Style for the buttons from 1 to 9 when you pass the mouse on them */
.channelButtons:hover{
    background-color: rgb(110, 108, 108);
    transition: 0.5s;
}

/* Style for the icons inside all buttons on the remote controller */
#powerButton > i, #homeButton > i, #muteButton > i, #guideButton > i, .channelButtons > i{
    height: 1.8em;
    width: 1.8em;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Initial state for the TV - Is off */
.screenOff{
    background-color: rgb(31, 30, 30);
}